.main {
    display              : grid;
    grid-template-columns:  minmax(min-content, 1fr) 60% 35%  ;
    /* grid-template-rows   : 1fr;
    grid-column-gap      : 0px;
    grid-row-gap         : 0px; */
  }
  
  .colom1 {
    /* grid-area: 1 / 4 / 2 / 6; */
    background-color: red;
    height: 200px;
  }
  
  .colom2 {
    /* grid-area: 1 / 2 / 2 / 4; */
    background-color: royalblue;
    height: 200px;
  }
  
  .colom3 {
    /* grid-area: 1 / 1 / 2 / 2; */
    background-color:salmon;
    height: 200px;
  }