#chatbox {

    width        : 290px;
    background   : #fff;
    border-radius: 6px;
    overflow     : hidden;
    height       : 600px;
    width        : 100%;



    #chatview {
        width     : 290px;
        // height    : 484px;
        background: #fff;

        #profile {
            height    : 153px;
            overflow  : hidden;
            text-align: center;
            color     : #fff;
            background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat;
        }
    }
    .chatbox{
    
        .message {
            img {
                border-radius: 50%;
                width        : 40px;
                border-radius: 50%;
                margin       : 15px;
                float        : left;
            }
    
            .bubble {
                background   : #f0f4f7;
                font-size    : 13px;
                font-weight  : 600;
                padding      : 12px 13px;
                border-radius: 5px 5px 5px 0px;
                color        : #8495a3;
                float        : right;
    
                span {
                    color    : #aab8c2;
                    font-size: 11px;
                    right    : 0;
                    bottom   : -22px;
                }
            }
        }
    }


    .right {
        float        : right;
        margin-bottom: 15px;

        img {
            float: right;
        }

        .bubble {
            float: left;
            width: 200px;
        }
    }

    #sendmessage {
    
        input {
            width        : 100%;
            height       : 47px;
            border       : 1px solid #636262;
            border-radius: 3px;
            position     : relative;
           
        }

        button {
            position   : absolute;
            margin-left: -40px;
            cursor: pointer;

            svg {

                height: 43px;
                width : 38px;
            }
        }
    }

}